// Compiles to CSS.

@import './imports/vars';

html.named-color-picker-open {
  &,
  body {
    overflow:                 hidden !important;
  }
}

.named-color-picker {
  &,
  * {
    box-sizing:               border-box;
  }

  display:                    none;

  //
  top:                        0;
  left:                       0;
  position:                   fixed;
  z-index:                    $z-index;

  //
  width:                      100vw;
  height:                     100vh;

  //
  font-size:                  1rem;

  > .-grid {
    display:                  flex;
    flex-flow:                row wrap;

    //
    width:                    100%;
    height:                   100%;
    overflow:                 hidden;

    //
    background:               $black-color;

    > .-color {
      flex:                   0 0 auto;

      //
      border-radius:         .15em;
      border:                 2px solid transparent;

      //
      transition:             transform .125s;

      &.-active,
      &:hover {
        transform:            scale(1.75);

        //
        border-color:         $white-color;
        box-shadow:           0 0 0 0.05em transparentize($black-color, 0.75);
      }

      &.-search {
        color:                $black-color;
        background-color:     $white-color;

        > svg {
          display:            block;

          //
          width:              100%;
          height:             auto;

          > g {
            fill:             currentColor;
          }
        }
      }
    }
  }

  > .-info {
    display:                  none;
    position:                 fixed;

    //
    min-width:                15em;
    padding:                 .75em 1em 1em;

    //
    text-align:               center;

    //
    border-radius:           .15em;
    border:                   0.25em solid $white-color;
    box-shadow:               0 0 0 0.15em transparentize($black-color, 0.75);

    > .-title {
      font-weight:            500;
      font-size:              1.25em;
    }

    > .-hex,
    > .-rgb,
    > .-hsl,
    > .-hsv {
      display:                block;

      //
      font-size:             .85em;
      text-decoration:        none;
      font-family:            'operator mono', monospace;

      //
      opacity:                0.5;
      color:                  inherit;
      transition:             all .25s;

      &:hover {
        opacity:              1;
      }
    }

    > .-hex {
      font-size:              1.25em;
    }

    > .-copied {
      visibility:             hidden;

      //
      font-size:             .85em;
      font-variant:           small-caps;
    }

    @media (max-width: 768px) {
      .-hex,
      .-rgb,
      .-hsl,
      .-hsv,
      .-copied {
        display:              none;
      }
    }

    > .-select {
      display:                block;

      //
      width:                  100%;

      //
      padding:               .75em;
      margin:                .5em 0 0;

      //
      border-radius:         .15em;
      border:                .063em solid;

      //
      opacity:               .9;
      text-decoration:        none;
      text-transform:         uppercase;

      &:hover {
        opacity:              1;
      }

      &:active {
        transform:            scale(0.96);
      }
    }

    &::after {
      content:                '';

      //
      position:               absolute;

      //
      width:                  0;
      height:                 0;

      //
      font-size:             .675em;
    }

    &.-arrow-top::after {
      top:                   -1em;
      left:                   calc(50% - 1em);

      //
      border-left:            1em solid transparent;
      border-right:           1em solid transparent;
      border-bottom:          1em solid $white-color;
    }

    &.-arrow-bottom::after {
      bottom:                -1em;
      left:                   calc(50% - 1em);

      //
      border-left:            1em solid transparent;
      border-right:           1em solid transparent;
      border-top:             1em solid $white-color;
    }

    &.-arrow-left::after {
      left:                  -1em;
      top:                    calc(50% - 1em);

      //
      border-top:             1em solid transparent;
      border-bottom:          1em solid transparent;
      border-right:           1em solid $white-color;
    }

    &.-arrow-left-top::after {
      top:                   .5em;
    }

    &.-arrow-left-bottom::after {
      top:                    auto;
      bottom:                .5em;
    }

    &.-arrow-right::after {
      right:                 -1em;
      top:                    calc(50% - 1em);

      //
      border-top:             1em solid transparent;
      border-bottom:          1em solid transparent;
      border-left:            1em solid $white-color;
    }

    &.-arrow-right-top::after {
      top:                   .5em;
    }

    &.-arrow-right-bottom::after {
      top:                    auto;
      bottom:                .5em;
    }
  }

  > .-search-overlay {
    display:                  none;

    //
    top:                      0;
    left:                     0;
    z-index:                  $z-index + 1;
    position:                 fixed;

    //
    width:                    100%;
    height:                   100%;

    //
    background:               transparentize($black-color, 0.25);
  }

  > .-search {
    display:                  none;

    //
    top:                      10%;
    left:                     50%;
    position:                 fixed;
    z-index:                  $z-index + 2;

    //
    width:                    30%;
    transform:                translate(-50%, -90%);

    //
    border-radius:           .15em;
    box-shadow:               0 0 0 0.05em transparentize($black-color, 0.75);

    > select {
      width:                  100%;

      ~ .selectize-control {
        > .selectize-input {
          &,
          > input {
            font-size:        inherit;
            line-height:      inherit;
          }
        }
      }

      ~ .selectize-dropdown {
        font-size:            inherit;
        line-height:          inherit;

        //
        z-index:              $z-index + 3;

        > .selectize-dropdown-content {
          max-height:         75vh;

          .-color {
            display:          inline-block;
            vertical-align:   middle;

            > .-swatch {
              display:        inline-block;
              vertical-align: middle;

              //
              width:          1em;
              height:         1em;

              //
              border-radius: .15em;
            }
          }
        }
      }
    }
  }

  > .-textarea {
    top:                     -99999px;
    left:                    -99999px;
    position:                 fixed;

    //
    width:                    1px;
    height:                   1px;
    overflow:                 hidden;
  }
}

.named-color-picker-swatch {
  vertical-align:             middle;
  display:                    inline-block;

  //
  margin:                    -.75em 0;

  //
  width:                      1.75em;
  height:                     1.75em;

  //
  text-decoration:            none;
  outline:                    none;
  -webkit-tap-highlight-color: none;

  //
  border-radius:             .15em;
  box-shadow:                 0.063em 0.063em 0 0 $white-color, 0.126em 0.126em 0 0 rgba($black-color, 0.15);

  &:hover {
    filter:                   brightness(0.9);
  }

  &.-swatch-before {
    margin-right:            .5em;
  }

  &.-swatch-after {
    margin-left:             .5em;
  }

  &.-stand-alone {
    margin-top:               0;
    margin-bottom:            0;

    //
    width:                    100%;
    height:                   auto;
  }

  &:active {
    transform:                scale(0.94);
  }

  &.-grow,
  &.-shrink {
    animation-iteration-count: 1;
    animation-duration:      .25s;
  }

  &.-grow {
    animation-name:           named-color-picker-grow;
  }

  &.-shrink {
    animation-name:           named-color-picker-shrink;
  }

  > svg {
    display:                  block;

    //
    width:                    100%;
    height:                   100%;

    //
    border-radius:           .15em;

    > g {
      fill:                   currentColor;
    }
  }
}

@keyframes named-color-picker-grow {
  0% {
    opacity:                  1;
    transform:                scale(1);
  }

  100% {
    opacity:                  0;
    transform:                scale(1.25);
  }
}

@keyframes named-color-picker-shrink {
  0% {
    opacity:                  0;
    transform:                scale(1.25);
  }

  100% {
    opacity:                  1;
    transform:                scale(1);
  }
}
